body {
    background-color: black;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 1;
    transition: all 1s;
}

.show {
    opacity: 1;
}

.profile-pic {
    width: 150px;
    height: 150px;
}
.profile-name {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.navbar a:hover {
    background-color: #171717;
}

.contact-info {
    display: flex;
    align-items: center;
}
.contact-info span {
    margin-right: 1rem;
    color: white;
}