/* .my-profile{
    width: 150vh;
    height: 100%;
    border: 5px outset red;
    background-color: rgba(245, 245, 247, 0.1);
    border-radius: 50px;
    box-shadow: 0 0 100px 5px rgba(0, 0, 0, 0.1);
    padding-left: 2.5%;
    backdrop-filter: blur(5px);
} */
.my-profile {
  width: 150vh;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding-left: 2.5%;
  backdrop-filter: blur(5px);
  background: #f5f5f5; /* Light, off-white background */
  border: 1px solid #ddd; /* Subtle border */
  background-image: url('C:/Users/user/Desktop/My Website/portfolio/public/paper_texture2.png'); /* Paper texture background */
  background-size: cover;
}


section {
  /* border: 5px outset red; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content-container {
  display: flex; /* Display children (profile-info and additional-info) side by side */
  align-items: center; /* Center align vertically */
  justify-content: center; /* Center align horizontally */
  width: 95%;
  height: 300px;
}

.profile-info {
  text-align: center; /* Center align text and elements */    
  padding: 20px;
}

.additional-info {
  /* background-color: rgba(254, 254, 254, 0.75); */
  padding: 20px;
  margin-left: 20px; /* Adjust spacing between profile info and additional info */
  flex: 1; /* Takes remaining space */
}

.hidden {
  opacity: 1;
  transition: all 1s;
}

.show {
  opacity: 1;
}

.profile-pic {
  width: 256px;
  height: 256px;
}
.profile-name {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.navbar a:hover {
  background-color: #171717;
}

.contact-info {
  display: flex;
  align-items: center;
}
.contact-info span {
  margin-right: 1rem;
  color: white;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 25px 50px;
  }
  
.nav-brand {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
  
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #007BFF; /* Change to your desired hover color */
}

.content {
  padding-top: 80px; /* Adjust based on the height of your navbar */
  padding: 20px;
}
.transparent-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25); /* Adjust background color and transparency */
  z-index: 1000; /* Ensure it's above other content */
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}
.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

.glitch {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}